*{
    font-family: "Hero New", sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}





/* Heading */

/* Heading Results */
.result-wrapper{
    display: flex;
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;

}

/* H3 text */
.results{
    font-size: 25px;
}






/* User Choices */

/* User choice */
.user-choice{
    display: flex;
    height: 88vh;
    align-content: center;


}

/* Selecting all of the choices */
.user-choice > *{
    height: 88vh;
    flex: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    font-weight: 600;
    cursor: pointer;
}

.rock{
    background-color: rgb(49, 49, 253);
}
.paper{
    background-color: rgb(251, 251, 69);
}
.scissors{
    background-color: rgb(255, 55, 55);
}



/* Links */

